


<section class="oe_container" style="background-image:url(bannerjpv.png);background-repeat:no-repeat;background-size:100%;padding: 20% 20% 20% 20%;background-position-y: -10px;"></section>

<section class="mb0">
	<h2><span><strong>Description:</strong></span></h2>

	<h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
User attendance module	</h3>
	<h2><span><strong>How to use?</strong></span></h2>

	<h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            1- Assigning the role to the person in charge of administering the Zkteco device.
    </h3>




</section>

<section>
	<div class="container">
		<div class="row">
		<div class="mt16">
		<h3>About Us</h3>

	</div>
</section>
